To get pandas 0.25 needed for explode. Restart the kernel after this

In [97]:
pip install --upgrade pandas

Requirement already up-to-date: pandas in c:\users\prasad.kulkarni\appdata\local\continuum\anaconda3\lib\site-packages (0.25.1)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in c:\users\prasad.kulkarni\appdata\local\continuum\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\prasad.kulkarni\appdata\local\continuum\anaconda3\lib\site-packages (from pandas) (1.16.5)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in c:\users\prasad.kulkarni\appdata\local\continuum\anaconda3\lib\site-packages (from pandas) (2019.2)
Requirement already satisfied, skipping upgrade: six>=1.5 in c:\users\prasad.kulkarni\appdata\local\continuum\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

To get Python and Pandas version

In [ ]:
pd.show_versions()

In [98]:
import pandas as pd
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.3.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
machine          : AMD64
processor        : Intel64 Family 6 Model 142 Stepping 10, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : None.None

pandas           : 0.25.1
numpy            : 1.16.5
pytz             : 2019.2
dateutil         : 2.8.0
pip              : 19.2.3
setuptools       : 41.0.1
Cython           : 0.29.13
pytest           : 5.0.1
hypothesis       : None
sphinx           : 2.1.2
blosc            : None
feather          : None
xlsxwriter       : 1.1.8
lxml.etree       : 4.4.1
html5lib         : 1.0.1
pymysql          : None
psycopg2         : None
jinja2           : 2.10.1
IPython          : 7.8.0
pandas_datareader: None
bs4              : 4.8.0
bottleneck       : 1.2.1
fastparquet      : None
gcsfs            : None
lxml.etree       : 4.4.1
matplotlib       : 3.1.1
numexpr          : 2.7.0
odfpy            : None
openpyxl         : 2.6.2
pandas_gbq       : None
pyarrow          : None
pytables         : None
s3fs             : None
scipy            : 1.3.1
sqlalchemy       : 1.3.7
tables           : 3.5.2
xarray           : None
xlrd             : 1.2.0
xlwt             : 1.3.0
xlsxwriter       : 1.1.8

In [122]:
df =  pd.DataFrame({ 'key':['1','2','3'], 'values':['a,b,c','d,e,f','p,q,r']})

Square Brackets: Series

In [151]:
type(df['values'])

pandas.core.series.Series

Dot: numpy array

In [153]:
type(df.values)

numpy.ndarray

In [156]:
explode_df=df.assign(values= df['values'].str.split(',')).explode('values').reset_index(drop=True)
explode_df

  key values
0   1      a
1   1      b
2   1      c
3   2      d
4   2      e
5   2      f
6   3      p
7   3      q
8   3      r

In [154]:
explode_df=df.assign(values= df['values'].str.split(','))
explode_df

  key     values
0   1  [a, b, c]
1   2  [d, e, f]
2   3  [p, q, r]

In [150]:
explode_df=df['values'].str.split(',',expand=True)
explode_df

   0  1  2
0  a  b  c
1  d  e  f
2  p  q  r

In [121]:
pivot_df= explode_df.pivot(columns='key', values='values')

In [101]:
pivot_df

key    1    2    3
0      a  NaN  NaN
1      b  NaN  NaN
2      c  NaN  NaN
3    NaN    d  NaN
4    NaN    e  NaN
5    NaN    f  NaN
6    NaN  NaN    p
7    NaN  NaN    q
8    NaN  NaN    r